.services-section-wrapper {
  padding: 50px 0;
}
.services-section-wrapper a {
  text-decoration: none;
  color: #fff;
}
.about-us-header-wrapper {
  background: #585858;
}
.services-header {
  padding: 40px 0;
}
.services-header h1,
.services-header p {
  color: #fff;
}
.vision-title {
  font-size: 6em;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
}
.vision-text {
  padding-left: 10px;
  font-family: "Montserrat", Sans-serif;
  font-weight: 300;
}

.services-overview-wrapper {
  background: #fff;
  padding: 40px 0;
}
/* Second Module */
.services-section-wrapper .service-title {
  font-family: "Montserrat", Sans-serif;
  font-weight: 400;
  margin-top: 30px;
}
.services-section-wrapper p {
  color: #070f13;
}
.driven-value-header {
  width: 100%;
  margin-bottom: 50px;
}
.driven-value-header p {
  font-size: 2em;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  padding: 0 10px;
}