
/*** Home module ****/

.home-mod-1-wrapper {
  /* background-color: #f0f2f3; */
    background: url(../../images/urbanseattle.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

.inner-home-page-div {
  position: absolute;
  z-index: 15;
  top: 50%;
  left: 40%;
  margin: -100px 0 0 -150px;
}

.main-welcome-title {
  font-size: 6em;
  color: #fff;
}

.main-comp-title {
  color: #fff;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 320px) {
  .main-welcome-title {
    font-size: 3em;
    color: #fff;
  }
  .inner-home-page-div {
    position: absolute;
    z-index: 15;
    top: 40%;
    left: 60%;
    margin: -100px 0 0 -150px;
  }
}

/* iPhone 6, 7, 8 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) {
  .main-welcome-title {
    font-size: 3em;
    color: #fff;
  }
  .inner-home-page-div {
    position: absolute;
    z-index: 15;
    top: 40%;
    left: 60%;
    margin: -100px 0 0 -150px;
  }
}

/* iPhone X ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) {
  .main-welcome-title {
    font-size: 5em;
    color: #fff;
  }
  .inner-home-page-div {
    position: absolute;
    z-index: 15;
    top: 30%;
    left: 40%;
    margin: -100px 0 0 -150px;
  }
}

/* iPhone XS ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 896px) {
  .main-welcome-title {
    font-size: 5em;
    color: #fff;
  }
  .inner-home-page-div {
    position: absolute;
    z-index: 15;
    top: 30%;
    left: 40%;
    margin: -100px 0 0 -150px;
  }
}
