@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Serif&display=swap');
/*** Home module ****/

.home-mod-1-wrapper {
  /* background-color: #f0f2f3; */
    background: url(../../images/urbanseattle.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

.inner-home-page-div {
  position: absolute;
  z-index: 15;
  top: 25%;
  left: 40%;
  margin: -100px 0 0 -150px;
}

.main-welcome-title {
  font-size: 6em;
  color: #fff;
  line-height: inherit;
}

.main-comp-title {
  color: #fff;
  text-align: center;
  line-height: inherit;
  font-family: 'IBM Plex Serif', serif;
}
.main-comp-sub-title {
  color: #fff;
  text-align: center;
  line-height: inherit;
}

/* Learn More CTA */

.learn-more-home {
  margin: 0px auto;
  padding-top: 80%;
}
.learn-more-wrapper {
  width: 180px;
  text-decoration: none;
}
.learn-more-wrapper a {
  text-decoration: none;
}

.learn-more-wrapper a:hover {
  text-decoration: none;
}

.learn-more-wrapper .home-page-learn-more-txt {
  padding: 10px;
  border: 2px solid #fff;
  transition: 0.5s all;
  background: #fff;
  color: #070f13;
}

.learn-more-wrapper .home-page-learn-more-txt:hover {
  background: #8e9599;
  color: #fff;
}

.home-page-learn-more-txt {
  /* font-size: 20px; */
  color: #fff;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 320px) {
  .main-welcome-title {
    font-size: 3em;
    color: #fff;
  }
  .inner-home-page-div {
    position: absolute;
    z-index: 15;
    top: 30%;
    left: 60%;
    margin: -100px 0 0 -150px;
  }
  .main-comp-title {
    font-size: 1.2em;
    text-align: center;
  }
  .main-comp-sub-title {
    font-size: 1.0em;
    text-align: center;
  }
}

/* iPhone 6, 7, 8 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) {
  .main-welcome-title {
    font-size: 3em;
    color: #fff;
  }
  .inner-home-page-div {
    position: absolute;
    z-index: 15;
    top: 30%;
    left: 60%;
    margin: -100px 0 0 -150px;
  }
  .main-comp-title {
    font-size: 1.2em;
    text-align: center;
  }
    .main-comp-sub-title {
    font-size: 1.0em;
    text-align: center;
  }
}

/* iPhone X ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) {
  .main-welcome-title {
    font-size: 5em;
    color: #fff;
  }
  .inner-home-page-div {
    position: absolute;
    z-index: 15;
    top: 25%;
    left: 40%;
    margin: -100px 0 0 -150px;
  }
  .main-comp-title {
    font-size: 1.9em;
    text-align: left;
  }
  .main-comp-sub-title {
    font-size: 1.5em;
    text-align: left;
  }
}

/* iPhone XS ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 896px) {
  .main-welcome-title {
    font-size: 5em;
    color: #fff;
  }
  .inner-home-page-div {
    position: absolute;
    z-index: 15;
    top: 25%;
    left: 40%;
    margin: -100px 0 0 -150px;
  }
  .main-comp-title {
    font-size: 2em;
    text-align: left;
  }
    .main-comp-sub-title {
    font-size: 1.5em;
    text-align: left;
  }
}
