
/*** About us module ****/

.about-us-wrapper {
  /* background-color: #f0f2f3; */
  background: url(../../images/rainyseattle.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

.main-welcome-title {
  font-size: 6em;
  color: #fff;
  margin: 4% 0;
}

.main-comp-title {
  color: #fff;
}

.about-company-txt-wrapper {
  border: 1px solid #fff;
  background: rgba(255,255,255, 0.7);
  padding: 20px;
}

.about-company-txt-wrapper ul li {
  padding: 5px 0;
  font-size: 16px;
  font-weight: 600;
}

.about-company-txt-wrapper p {
  font-size: 16px;
  line-height: 2em
}

.how-we-do-it {
  margin-left: 20px;
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) {
  .main-welcome-title {
    font-size: 3em;
    color: #fff;
    margin: 25% 0;
  }
  .about-company-txt-wrapper {
    margin-top: 20px;
  }
  .how-we-do-it {
    margin-left: 0px;
  }
}

/* iPhone 6, 7, 8 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) {
  .main-welcome-title {
    font-size: 3em;
    color: #fff;
    margin: 25% 0;
  }
  .about-company-txt-wrapper {
    margin-top: 20px;
  }
  .how-we-do-it {
    margin-left: 0px;
  }
}

/* iPhone X ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) {
  .main-welcome-title {
    font-size: 5em;
    color: #fff;
    margin: 25% 0;
  }
  .about-company-txt-wrapper {
    margin-top: 20px;
  }
  .how-we-do-it {
    margin-left: 0px;
  }
}

/* iPhone XS ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 896px) {
  .main-welcome-title {
    font-size: 5em;
    color: #fff;
    margin: 25% 0;
  }
  .about-company-txt-wrapper {
    margin-top: 20px;
  }
  .how-we-do-it {
    margin-left: 0px;
  }
}
